<div class="card" style="width: 18rem;">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="email" class="form-control"
          placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Descripcion</label>
        <input type="password" class="form-control" placeholder="Descripcion">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Tipo de servicio</label>
        <select multiple class="form-control">
          <option>Autos</option>
          <option>Hogar</option>
          <option>Salud</option>
        </select>
      </div>
    </form>
  </div>
  <div class="card-footer text-muted">
    
  </div>
</div>